.wholeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoreBoard,
.messageBoard {
  min-width: 200px;
  width: 20%;
  border-style: solid;

  border-color: white;
  border-radius: 25px;

  height: 600px;
  margin: 5px;
  box-shadow: 5px 10px 8px #888888;
}

.scoreBoard {
  background-color: #8ddbe0;
}

.messageBoard {
  background-color: #b3dec1;
}
.messageBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.innerMessage {
  align-self: flex-end;
  /* justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center; */

  margin-bottom: 10px;
  margin-left: 20px;
}

.inputMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#m {
  border-radius: 25px;
}

#username {
  border-radius: 25px;
}

.gameDisplay {
  min-width: 600px;
  width: 60%;
  border-style: solid;
  border-color: white;
  background-color: #e5fcf5;
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
}

.top {
  height: 150px;
}

.testing {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  align-items: center;
  align-content: center;
}

.columnTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.picture {
  width: 80%;
  height: 80%;
  contain: content;
  position: absolute;
  clip: rect(110px, 550px, 300px, 200px);
}

/* .inputMessage {
  position: relative;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 30px;
} */

.userFont {
  color: green;
  margin: 30px;
}

.messages1 {
  width: 90%;

  height: 400px;
  /* display: flex; */
  overflow: scroll;
  /* flex-direction: column-reverse; */
  /* overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity; */
}

.testMessage {
  align-self: flex-end;
  border-style: solid;
  border-color: #5fc9f8;
  widows: 80px;
  margin: 10px;
  border-radius: 25px;
  background-color: #5fc9f8;
  padding-left: 5px;
}

.individualPlayer {
  border-style: solid;
  border-color: #5bc236;
  background-color: #5bc236;
  border-radius: 25px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;

  color: black;
}
